---
import Section from "../Section.astro";
import Sumary from "@/components/sections/sumary/Sumary";

interface AboutProps {
  readOnly?: boolean;
}

const { readOnly } = Astro.props as AboutProps;
---

<Section title="Sobre mí">
  <Sumary client:load readOnly={readOnly} />
</Section>
